<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
    <head>
        <meta charset="UTF-8" />
        <title>Vincent Lalanne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_common.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_aboutme.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='src/fonts/fonts.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='images/website_logo.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!-- Homepage -->
        <div class="homepage-background">
            <div class="home-circle-div">
                <img class="parallax gradient-circle circle-1" name="4" src="{{ url_for('static', filename='images/gradient_circle.png') }}" />
            </div>
            <div class="home-circle-div">
                <img class="parallax gradient-circle circle-2" name="6" src="{{ url_for('static', filename='images/gradient_circle.png') }}" />
            </div>

            <div class="margin-div homepage-div js-animation-aboutme">
                <div class="aboutme-div">
                    <div class="aboutme-text js-hidden two-s">
                        <p class="aboutme-p">About me</p>
                    </div>
                    <div class="description-text">
                        <p class="js-hidden two-s">
                            My name is Vincent Lalanne and I am a student at the École des Mines de Saint-Étienne, a prestigious French engineering school specialisd in computer science and microelectronics.
                        </p>
                        <p class="js-hidden two-s">
                            I believe that knowing how a computer works at the hardware level allows a deeper thinking and better efficiency on the code I write.
                        </p>
                        <p class="js-hidden two-s">In the future, I want to bring together my skills and my passions: valuating data by creating innovative and inclusive AI models, improving people's daily and working lives, or helping research on various subjects.</p>
                        <p class="js-hidden two-s">I feel motivated by knowing that my contribution will be useful to other people, and am always looking for new challenges and opportunities to learn and grow.</p>
                        <p class="js-hidden two-s">
                            I am currently looking for building up experience, and discovering new work environments. Check out my CV <a href="{{ url_for('static', filename='cv/cv.pdf') }}" target="_blank" style="color: #62626f;">here</a>!
                        </p>
                    </div>
                </div>
                <img class="photo-uniform js-hidden two-s" src="{{ url_for('static', filename='images/photo_me.jpg') }}" />
            </div>
        </div>

        <!-- Bottom Part -->
        <div class="white-background">
            <div class="margin-div">
                <div class="experiences-title">
                    My experiences
                </div>
                <div class="experiences">
                    <div class="js-animation-2 js-hidden">
                        <!-- Job 1 : Auckland -->
                        <div class="job-country">
                            <div>
                                <img src="{{ url_for('static', filename='images/flags/flag_nz.png') }}" />
                                <p>New Zealand</p>
                            </div>
                            <div>
                                2023 -<br />
                                2024
                            </div>
                        </div>
                        <div class="job-logo">
                            <img src="{{ url_for('static', filename='images/experiences/logo_uoa.png') }}" />
                        </div>
                        <div class="job-title">
                            The University of Auckland
                        </div>
                        <div class="job-description">
                            Studying at the other end of the world is a way for me to gain perspective on subjects I like while challenging myself.
                        </div>
                    </div>
                    <div class="js-animation-2 js-hidden">
                        <!-- Job 2 : project -->
                        <div class="job-country">
                            <div>
                                <img src="{{ url_for('static', filename='images/flags/flag_fr.png') }}" />
                                <p>France</p>
                            </div>
                            <div>2024</div>
                        </div>
                        <div class="job-logo">
                            <img src="{{ url_for('static', filename='images/experiences/ml_project.png') }}" />
                        </div>
                        <div class="long-job-title">
                            Projects
                        </div>
                        <div class="job-description">
                            In my free time, I like to investigate those subjects deeper. Learn more in my <a href="{{ url_for('static', filename='cv/cv.pdf') }}" target="_blank" style="color: #62626f;">CV</a> or in the <a onclick="handleProjectsClick()" href="{{ url_for('projects') }}" style="color: #62626f;">Projects</a> section!
                        </div>
                    </div>
                    <div class="js-animation-2 js-hidden">
                        <!-- Job seek -->
                        <div class="job-seek-message">
                            It is a bit empty here... Would you help me to fill it?
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer comment -->
            <div class="footer-comment">
                <p>Vincent Lalanne. 2024.</p>
            </div>
        </div>

        <!-- Mobile Navbar -->
        <div class="mobile-navbar">
            <div class="mobile-tabs">
                <div>
                    <a class="tab" onclick="handleHomeClick()" href="{{ url_for('index') }}#home">Home</a>
                </div>
                <div>
                    <a class="tab" onclick="handleAboutMeClick()" href="">About me</a>
                </div>
                <div>
                    <a class="tab" onclick="handleProjectsClick()" href="{{ url_for('projects') }}">Projects</a>
                </div>
                <div>
                    <a class="tab" onclick="handleContactClick()" href="{{ url_for('index') }}#contact">Contact</a>
                </div>
                <div>
                    <a class="tab" onclick="handleChatClick()" href="{{ url_for('chat') }}">Chat</a>
                </div>
                <div>
                    <a class="tab" onclick="handleTitanicClick()" href="{{ url_for('titanic') }}">Titanic</a>
                </div>
                <div class="mobile-flag" onclick="handleMobileLanguageClick()"></div>
            </div>
        </div>

        <!-- Header -->
        <div class="header">
            <div class="header-flex">
                <div>
                    <img class="header-image" src="{{ url_for('static', filename='images/website_logo.png') }}" onclick="window.location='index.html';" />
                </div>
                <div class="tabs">
                    <div>
                        <a class="tab" onclick="handleHomeClick()" href="{{ url_for('index') }}#home">Home</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleAboutMeClick()" href="">About me</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleProjectsClick()" href="{{ url_for('projects') }}">Projects</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleContactClick()" href="{{ url_for('index') }}#contact">Contact</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleChatClick()" href="{{ url_for('chat') }}">Chat</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleTitanicClick()" href="{{ url_for('titanic') }}">Titanic</a>
                    </div>
                </div>
                <div>
                    <div class="top-right-image" onclick="handleTopRightClick()"></div>
                </div>
            </div>
        </div>

        <div id="language-error-message" class="error-message">
            Sorry, only the English version is available for now!
        </div>

        <!-- Scripts -->
        <script>
            var currentPage = "{{ current_page }}";
        </script>
        <script src="{{ url_for('static', filename='src/js/animations.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/parallax.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/top_right_button.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/tabs.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/aboutme_homepage.js') }}"></script>
    </body>
</html>