<!DOCTYPE html>
<html lang="{{ lang }}" style="scroll-behavior: smooth;">
    <head>
        <meta charset="UTF-8" />
        <title>Vincent Lalanne</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_common.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='src/fonts/fonts.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='images/website_logo.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    
    <body>
        <!-- Homepage -->
        <div class="homepage-background" id="home">
            <div class="home-circle-div">
                <img class="parallax gradient-circle circle-1" name="4" src="{{ url_for('static', filename='images/gradient_circle.png') }}" />
            </div>
            <div class="home-circle-div">
                <img class="parallax gradient-circle circle-2" name="6" src="{{ url_for('static', filename='images/gradient_circle.png') }}" />
            </div>

            <div class="margin-div js-animation-homepage homepage-div">
                <div class="hello-text">
                    <p class="hello-p js-hidden two-s">Hello,</p>
                    <p class="hello-p js-hidden two-s">I'm Vincent</p>
                </div>
                <div class="description-text js-hidden two-s">
                    A passionate microelectronics and computer science student at École des Mines de Saint-Étienne, France, and The University of Auckland, New Zealand.
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="skills-background">
            <div class="margin-div">
                <!-- Programming -->
                <div class="js-animation-1">
                    <div class="flex js-hidden">
                        <img class="programming-skill-icon" src="{{ url_for('static', filename='images/icons/icon_programming.png') }}"/>
                        <p class="programming-skill-title">Programming</p>
                    </div>
                    <div class="programming-flex js-hidden" style="margin-bottom: 12%;">
                        <div class="programming-text">
                            <p class="skill-paragraph">
                                I enjoy developping applications and modeling all sorts of things. I became proficient in various programming languages and have the ability to find <b>efficient software solutions</b> rapidly.
                            </p>
                            <p class="skill-paragraph">
                                I learnt <b>high-level</b> and <b>low-level</b> programming by myself and at school. I had time to strengthen my understanding of <b>data structures</b> and commonly used <b>architectures</b>.
                            </p>
                            <p class="skill-paragraph">Feel free to take a look at some <b><a onclick="handleProjectsClick()" href="{{ url_for('projects') }}" style="color: #62626f;">projects</a></b> I've worked on.</p>
                        </div>
                        <div class="programming-skills">
                            <img class="programming-image" src="{{ url_for('static', filename='images/skill_programming.png') }}"/>
                            <p class="programming-level">Familiar with</p>
                            <p class="programming-languages-text">Assembly / Matlab / Java / JS</p>
                        </div>
                    </div>
                </div>
                <!-- Electronics -->
                <div class="electronics-div js-animation-1">
                    <div class="flex js-hidden">
                        <img class="electronics-skill-icon" src="{{ url_for('static', filename='images/icons/icon_electronics.png') }}"/>
                        <p class="electronics-skill-title">Electronics</p>
                    </div>
                    <div class="js-hidden">
                        <p class="skill-paragraph">
                            I am knowledgeable about electronic components and boards. Therefore, I am able to build the correct software for any <b>hardware</b>. I studied the architecture of microcontrollers, and have
                            <b>hands-on experience</b>. I also learnt about the industrial process behind the manufacturing of such elements, from the silicium wafer to the mounting on the PCB.
                        </p>
                        <p class="skill-paragraph">Finally, I have been introduced to innovative technologies regarding microelectronics. All of these skills allow me to get creative and be an <b>efficient problem-solver</b>.</p>
                    </div>
                </div>
                <!-- Other skills -->
                <div class="secondary-skills">
                    <div class="secondary-skill js-animation-2 js-hidden">
                        <img class="secondary-skill-icon" src="{{ url_for('static', filename='images/icons/icon_ai.png') }}" />
                        <div class="secondary-skill-title-two-lines">
                            <p style="margin: 0;">Artificial</p>
                            <p style="margin: 0;">Intelligence</p>
                        </div>
                        <p class="secondary-skill-text">I am familiar with neural networks and can use them to optimise solutions.</p>
                    </div>
                    <div class="secondary-skill js-animation-2 js-hidden">
                        <img class="secondary-skill-icon" src="{{ url_for('static', filename='images/icons/icon_cybersecurity.png') }}" />
                        <div class="secondary-skill-title"><p style="margin: 0;">Cybersecurity</p></div>
                        <p class="secondary-skill-text">I can identify threats and vulnerabilities and perform basic attacks.</p>
                        <p class="secondary-skill-text"></p>
                    </div>
                    <div class="secondary-skill js-animation-2 js-hidden">
                        <img class="secondary-skill-icon" src="{{ url_for('static', filename='images/icons/icon_linux.png') }}" />
                        <div class="secondary-skill-title"><p style="margin: 0;">Linux</p></div>
                        <p class="secondary-skill-text">I know how to navigate on Linux and take advantage of its packages.</p>
                    </div>
                    <div class="secondary-skill js-animation-2 js-hidden">
                        <img class="secondary-skill-icon" src="{{ url_for('static', filename='images/icons/icon_languages.png') }}" />
                        <div class="secondary-skill-title"><p style="margin: 0;">Languages</p></div>
                        <p class="secondary-skill-text">I speak French, fluent English (C1), professional Japanese, and conversational Spanish.</p>
                    </div>
                    <div class="secondary-skill js-animation-2 js-hidden">
                        <img class="secondary-skill-icon" src="{{ url_for('static', filename='images/icons/icon_teamwork.png') }}" />
                        <div class="secondary-skill-title"><p style="margin: 0;">Teamwork</p></div>
                        <p class="secondary-skill-text">I often conduct or take part in team projects. It always leads to great ideas.</p>
                    </div>
                    <div class="secondary-skill js-animation-2 js-hidden">
                        <img class="secondary-skill-icon" src="{{ url_for('static', filename='images/icons/icon_design.png') }}" />
                        <div class="secondary-skill-title-two-lines">
                            <p style="margin: 0;">Graphic</p>
                            <p style="margin: 0;">Design</p>
                        </div>
                        <p class="secondary-skill-text">I put great effort into producing appealing work. This website acts as a portfolio.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="contact-background" id="contact">
            <div class="contact-circle-div">
                <img class="parallax gradient-circle circle-3" style="margin: 0 auto; display: table;" name="3" src="{{ url_for('static', filename='images/gradient_circle.png') }}" />
            </div>
            <div class="contactdiv js-animation-contact">
                <div class="contact-title">
                    <p class="hello-p js-hidden">Let's get in</p>
                    <p class="hello-p js-hidden">touch</p>
                </div>
                <div class="contact-text js-hidden">
                    Write me an email
                </div>
                <div class="email-text-div js-hidden">
                    <a href="mailto: vlalanne0@gmail.com" class="email-text">vlalanne0@gmail.com</a>
                </div>
                <div class="contact-text js-hidden">Or visit my <a href="https://www.linkedin.com/in/vincent-lalanne1/" target="_blank" style="color: #62626f;">LinkedIn</a> page</div>
            </div>
        </div>

        <!-- Mobile Navbar -->
        <div class="mobile-navbar">
            <div class="mobile-tabs">
                <div>
                    <a class="tab" onclick="handleHomeClick()" href="{{ url_for('index') }}#home">Home</a>
                </div>
                <div>
                    <a class="tab" onclick="handleAboutMeClick()" href="{{ url_for('aboutme') }}">About me</a>
                </div>
                <div>
                    <a class="tab" onclick="handleProjectsClick()" href="{{ url_for('projects') }}">Projects</a>
                </div>
                <div>
                    <a class="tab" onclick="handleContactClick()" href="{{ url_for('index') }}#contact">Contact</a>
                </div>
                <div>
                    <a class="tab" onclick="handleChatClick()" href="{{ url_for('chat') }}">Chat</a>
                </div>
                <div>
                    <a class="tab" onclick="handleTitanicClick()" href="{{ url_for('titanic') }}">Titanic</a>
                </div>
                <div class="mobile-flag" onclick="handleMobileLanguageClick()"></div>
            </div>
        </div>

        <!-- Header -->
        <div class="header">
            <div class="header-flex">
                <div>
                    <img class="header-image" src="{{ url_for('static', filename='images/website_logo.png') }}" onclick="window.location.href='#home';" />
                </div>
                <div class="tabs">
                    <div>
                        <a class="tab" onclick="handleHomeClick()" href="{{ url_for('index') }}#home">Home</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleAboutMeClick()" href="{{ url_for('aboutme') }}">About me</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleProjectsClick()" href="{{ url_for('projects') }}">Projects</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleContactClick()" href="{{ url_for('index') }}#contact">Contact</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleChatClick()" href="{{ url_for('chat') }}">Chat</a>
                    </div>
                    <div>
                        <a class="tab" onclick="handleTitanicClick()" href="{{ url_for('titanic') }}">Titanic</a>
                    </div>
                </div>
                <div>
                    <div class="top-right-image" onclick="handleTopRightClick()"></div>
                </div>
            </div>
        </div>

        <div id="language-error-message" class="error-message">
            Sorry, only the English version is available for now!
        </div>

        <!-- Scripts -->
        <script>
            var currentPage = "{{ current_page }}";
        </script>
        <script src="{{ url_for('static', filename='src/js/animations.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/parallax.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/top_right_button.js') }}"></script>
        <script src="{{ url_for('static', filename='src/js/tabs.js') }}"></script>
    </body>
</html>